<!-- Sender related popups -->
{{#popover-confirm
  isVisible=hasSelectedFile
  onConfirm=(action "sendFileTransferInquiry")
  onCancel=(action "cancelFileTransfer")
  confirmButtonLabel="Send"
  cancelButtonLabel="Cancel"
  filename=filename
}}
  Do you want to send <strong>"{{filename}}"</strong> to <strong>"{{label}}"</strong>?
{{/popover-confirm}}

{{#popover-confirm
  isVisible=isAwaitingResponse
  onCancel=(action "abortFileTransfer")
  cancelButtonLabel="Cancel"
  filename=filename
}}
  Waiting for <strong>"{{label}}"</strong> to accept&hellip;
{{/popover-confirm}}

{{#popover-confirm
  isVisible=hasDeclinedFileTransfer
  onConfirm=(action "cancelFileTransfer")
  confirmButtonLabel="Ok"
  filename=filename
}}
  <strong>"{{label}}"</strong> has declined your request.
{{/popover-confirm}}

{{#popover-confirm
  isVisible=hasError
  onConfirm=(action "cancelFileTransfer")
  confirmButtonLabel="Ok"
  filename=filename
}}
  {{partial errorTemplateName}}
{{/popover-confirm}}

<!-- Recipient related popups -->
{{#popover-confirm
  isVisible=hasReceivedFileInfo
  onConfirm=(action "acceptFileTransfer")
  onCancel=(action "rejectFileTransfer")
  confirmButtonLabel="Save"
  cancelButtonLabel="Decline"
  filename=filename
}}
  <strong>"{{label}}"</strong> wants to send you <strong>"{{filename}}"</strong>.
{{/popover-confirm}}

<div class="avatar">
  {{progress-bar transfer=peer.transfer}}
  {{peer-avatar peer=peer onFileDrop=(action "uploadFile")}}
</div>

<div class="user-info">
  <div class="user-ip">
    <div class="user-connection-status {{peer.peer.state}}"></div>
    <span>{{peer.label}}</span>
  </div>
</div>

{{file-field onChange=(action "uploadFile")}}