<!-- Sender related popups -->
{{#popover-confirm confirm="sendFileTransferInquiry" cancel="cancelFileTransfer" isShowing=isAwaitingFileInfo filename=filename label=label confirm-button-label="Send" cancel-button-label="Cancel"}}
  Do you want to send <strong>"{{filename}}"</strong> to <strong>"{{label}}"</strong>?
{{/popover-confirm}}

{{#popover-confirm  cancel="abortFileTransfer" isShowing=isAwaitingResponse filename=filename label=label cancel-button-label="Cancel"}}
  Waiting for <strong>"{{label}}"</strong> to accept&hellip;
{{/popover-confirm}}

{{#popover-confirm confirm="cancelFileTransfer" isShowing=hasDeclinedFileTransfer filename=filename label=label confirm-button-label="Ok"}}
  <strong>"{{label}}"</strong> has declined your request.
{{/popover-confirm}}

{{#popover-confirm confirm="cancelFileTransfer" isShowing=hasError partialName=errorTemplateName confirm-button-label="Ok"}}
  {{partial partialName}}
{{/popover-confirm}}

<!-- Recipient related popups -->
{{#popover-confirm confirm="acceptFileTransfer" cancel="rejectFileTransfer" isShowing=hasReceivedFileInfo filename=filename label=label confirm-button-label="Save" cancel-button-label="Decline"}}
  <strong>"{{label}}"</strong> wants to send you <strong>"{{filename}}"</strong>.
{{/popover-confirm}}

<div class="avatar">
  {{progress-bar transfer=peer.transfer}}
  {{peer-avatar peer=peer}}
</div>

<div class="user-info">
  {{#if peer.email}}<div class="user-email">{{peer.email}}</div>{{/if}}
  <div class="user-ip">
    <div class="user-connection-status {{peer.peer.state}}"></div>
    {{#if hasCustomRoomName}}
      <strong>{{peer.public_ip}}</strong>
    {{/if}}
    {{#if peer.local_ip}}
      {{peer.local_ip}}
    {{/if}}
  </div>
</div>

{{file-field action="uploadFile"}}
