{{#ember-popover isShown=isVisible event="none" side="top" delay=0 delayOnChange=false effect="none" popoverHideDelay=0 spacing=10}}
  <div class="popover-body">
    <div class="popover-icon">
      <i class={{iconClass}}></i>
    </div>

    <p>{{yield}}</p>

    <div class="popover-buttons">
      {{#if cancelButtonLabel}}
        <button type="button" class="button cancel" {{action "cancel"}}>{{cancelButtonLabel}}</button>
      {{/if}}

      {{#if confirmButtonLabel}}
        <button type="button" class="button confirm" {{action "confirm"}}>{{confirmButtonLabel}}</button>
      {{/if}}
    </div>
  </div>
{{/ember-popover}}