<div class="media">
  <div class="pull-left">
    <div {{bind-attr class=":media-object iconClass"}}></div>
  </div>
  <div class="media-body">
    <p>{{yield}}</p>
    <button type="button" class="btn btn-default btn-xs" {{action "cancel"}}>{{cancel-button-label}}</button>
    <button type="button" class="btn btn-default btn-xs" {{action "confirm"}}>{{confirm-button-label}}</button>
  </div>
</div>
