<header class="l-header">
  <nav class="navbar">
    <h1 class="logo">
      <span class="logo-title">ShareDrop</span>
      <span class="logo-subtitle">P2P file transfer</span>
    </h1>

    <ul class="nav">
      <li>
      <a href="javascript:void(0)" class="icon-create-room" {{action 'redirect'}} title="Create a room. You'll leave the room you're currently in.">+</a>
      </li>
      <li>
        <a href="javascript:void(0)" class="icon-circle icon-about" {{action 'openModal' 'about'}} title="About">?</a>
      </li>
      {{#if you.email}}
        <li class="email">
          {{you.email}}
        </li>
        <li>
          <a href="javascript:void(0)" class="sign" {{action 'signOut'}}>Sign out</a>
        </li>
      {{else}}
        <li>
          <a href="javascript:void(0)" class="sign" {{action 'signIn'}} title="Signing will allow others to recognize you by your email address and Gravatar">Sign in</a>
        </li>
      {{/if}}
    </ul>
  </nav>
</header>

{{outlet}}
{{outlet modal}}

<footer class="l-footer">
  <p class="about">{{outlet about_you}}</p>
  <div class="cowbell-labs">
    <span>Made by</span>
    <a href="https://cowbell-labs.com/" target="_blank"><span>Cowbell Labs</span></a>
  </div>
  <a href="https://github.com/cowbell/sharedrop" class="github" target="_blank"><span>Cowbell Labs Github</span></a>
  <a href="http://www.webrtc.org/" class="webrtc" target="_blank"><span>WebRTC</span></a>
  <a href="https://www.firebase.com/" class="firebase" target="_blank"><span>Powered by Firebase</span></a>
</footer>
