<header class="l-header">
  <nav class="navbar">
    <h1 class="logo">
      <span class="logo-title">ShareDrop</span>
      <span class="logo-subtitle">P2P file transfer</span>
    </h1>

    <ul class="nav">
      {{#if you.email}}
        <li class="email">
          {{you.email}}
        </li>
        <li>
          <a href="javascript:void(0)" class="sign" {{action 'signOut'}}>Sign out</a>
        </li>
      {{else}}
        <li>
          <a href="javascript:void(0)" class="sign" {{action 'signIn'}}>Sign in</a>
        </li>
      {{/if}}
    </ul>
  </nav>
</header>

{{outlet}}

<footer class="l-footer">
  <div class="cowbell-labs">
    Made by
    <a href="https://cowbell-labs.com/" target="_blank">
      <span>Cowbell Labs</span>
      <img src="/images/cowbell-labs.svg">
    </a>
  </div>

  <p class="about">{{outlet about_you}}</p>

  <a href="https://github.com/cowbell/sharedrop" class="github" target="_blank">
    <img src="/images/github.svg">
  </a>
</footer>
