<div id="wrap">
  <nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{link-to "FileDrop<sub>alpha</sub> - P2P file transfer" "index" class="navbar-brand"}}
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {{#if user.email}}
          <li><a href="javascript:void(0)" {{action 'signOut'}}>Sign out</a></li>
        {{else}}
          <li><a href="javascript:void(0)" {{action 'signIn'}}>Sign in</a></li>
        {{/if}}
      </ul>
      {{#if user.email}}
        <p class="navbar-text navbar-right">Signed in as {{user.email}}</p>
      {{/if}}
    </div>
  </nav>

  {{outlet}}

  <div id="footer"></div>

  <svg class="circles" viewBox="-0.5 -0.5 1140 700">
    <circle class="circle" cx="570" cy="570" r="30"  stroke="rgba(160,160,160, 1)" />
    <circle class="circle" cx="570" cy="570" r="100" stroke="rgba(160,160,160,.9)" />
    <circle class="circle" cx="570" cy="570" r="200" stroke="rgba(160,160,160,.8)" />
    <circle class="circle" cx="570" cy="570" r="300" stroke="rgba(160,160,160,.7)" />
    <circle class="circle" cx="570" cy="570" r="400" stroke="rgba(160,160,160,.6)" />
    <circle class="circle" cx="570" cy="570" r="500" stroke="rgba(160,160,160,.5)" />
  </svg>
</div>
