{{#confirm-popover confirm="sendFileTransferInquiry" cancel="cancelFileTransfer" isShowing=transfer.file confirm-button-label="Send" cancel-button-label="Cancel"}}
  Do you want to send "{{filename}}" to "{{peer.label}}"?
{{/confirm-popover}}

{{#confirm-popover confirm="acceptFileTransfer" cancel="rejectFileTransfer" isShowing=transfer.info confirm-button-label="Save" cancel-button-label="Decline"}}
  "{{peer.label}}" wants to send you "{{filename}}".
{{/confirm-popover}}

{{view FileDrop.PeerAvatarView}}
<div class="user-info">
  {{#if model.label}}<p>{{model.label}}</p>{{/if}}
  {{#if view.showLocalIP}}<p>{{model.local_ip}}</p>{{/if}}
  {{#if model.isConnected}}<span class="label label-success">connected</span>{{/if}}
</div>

{{view FileDrop.FileField action="uploadFile"}}
