<!-- Sender related popups -->
{{#confirm-popover confirm="sendFileTransferInquiry" cancel="cancelFileTransfer" isShowing=view.isAwaitingFileInfo filename=filename confirm-button-label="Send" cancel-button-label="Cancel"}}
  Do you want to send <strong>"{{filename}}"</strong> to <strong>"{{peer.label}}"</strong>?
{{/confirm-popover}}

{{#confirm-popover  cancel="abortFileTransfer" isShowing=view.isAwaitingResponse filename=filename cancel-button-label="Cancel"}}
  Waiting for <strong>"{{peer.label}}"</strong> to accept&hellip;
{{/confirm-popover}}

{{#confirm-popover confirm="cancelFileTransfer" isShowing=view.hasDeclinedFileTransfer filename=filename confirm-button-label="Ok"}}
  <strong>"{{peer.label}}"</strong> has declined your request.
{{/confirm-popover}}

<!-- Recipient related popups -->
{{#confirm-popover confirm="acceptFileTransfer" cancel="rejectFileTransfer" isShowing=view.hasReceivedFileInfo filename=filename confirm-button-label="Save" cancel-button-label="Decline"}}
  <strong>"{{peer.label}}"</strong> wants to send you <strong>"{{filename}}"</strong>.
{{/confirm-popover}}

<div class="avatar">
  {{view ShareDrop.App.ProgressBarView}}
  {{view ShareDrop.App.PeerAvatarView}}
</div>

<div class="user-info">
  {{#if model.email}}<div class="user-email">{{model.email}}</div>{{/if}}
  {{#if model.local_ip}}
    <div class="user-id">
      {{#if model.isConnected}}
        <div class="user-connected"></div>
      {{/if}}
      {{model.local_ip}}
    </div>
  {{/if}}
</div>

{{view ShareDrop.App.FileField action="uploadFile" file=transfer.file}}
