{{#confirm-popover confirm="sendFileTransferInquiry" cancel="cancelFileTransfer" opened=transfer.file confirm-button-label="Send" cancel-button-label="Cancel"}}
  Do you want to send "{{label}}" to "{{recipient}}"?
{{/confirm-popover}}

{{#confirm-popover confirm="acceptFileTransfer" cancel="rejectFileTransfer" opened=transfer.info confirm-button-label="Save" cancel-button-label="Decline"}}
  "{{label}}" wants to send you "{{filename}}".
{{/confirm-popover}}

{{view FileDrop.PeerAvatarView}}
<div class="user-info">
  {{#if label}}<p>{{label}}</p>{{/if}}
  {{#if local_ip}}<p>{{local_ip}}</p>{{/if}}
  {{#if isConnected}}
    <span class="label label-success">connected</span>
  {{/if}}
</div>

{{view FileDrop.FileField action="uploadFile"}}
