<header class="l-header">
  <nav class="navbar">
    <h1 class="logo">
      <span class="logo-title">ShareDrop</span>
      <span class="logo-subtitle">P2P file transfer</span>
    </h1>

    <ul class="nav">
      <li>
        <a href="javascript:void(0)" class="icon-create-room" {{action "redirect"}} title="Create a room. You'll leave the room you're currently in.">+</a>
      </li>
      <li>
        <a href="javascript:void(0)" class="icon-help" {{action "openModal" "about_app"}} title="About">?</a>
      </li>
    </ul>
  </nav>
</header>

{{outlet}}
{{outlet "modal"}}

<footer class="l-footer">
  <p class="about">{{outlet "about_you"}}</p>
  <div class="cowbell-labs">
    <span>Made by</span>
    <a href="https://cowbell-labs.com/" target="_blank" rel="noopener"><span>Cowbell Labs</span></a>
  </div>
  <a href="https://github.com/cowbell/sharedrop" class="github" target="_blank" rel="noopener"><span>Cowbell Labs Github</span></a>
  <iframe class="twitter" src="https://platform.twitter.com/widgets/tweet_button.html?url=https%3A%2F%2Fwww.sharedrop.io&text=ShareDrop%20%E2%80%93%20easily%20and%20securely%20share%20files%20of%20any%20size%20directly%20between%20devices%20using%20your%20browser&count=none" scrolling="no" frameborder="0" allowtransparency="true" ></iframe>
  <iframe class="facebook" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.sharedrop.io&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=325150657685651" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  <a href="http://www.webrtc.org/" class="webrtc" target="_blank" rel="noopener"><span>WebRTC</span></a>
  <a href="https://www.firebase.com/" class="firebase" target="_blank" rel="noopener"><span>Powered by Firebase</span></a>
</footer>
