<!-- Sender related popups -->
{{#popover-confirm confirm="sendFileTransferInquiry" cancel="cancelFileTransfer" isShowing=view.isAwaitingFileInfo filename=filename label=view.label confirm-button-label="Send" cancel-button-label="Cancel"}}
  Do you want to send <strong>"{{filename}}"</strong> to <strong>"{{view.label}}"</strong>?
{{/popover-confirm}}

{{#popover-confirm  cancel="abortFileTransfer" isShowing=view.isAwaitingResponse filename=filename label=view.label cancel-button-label="Cancel"}}
  Waiting for <strong>"{{view.label}}"</strong> to accept&hellip;
{{/popover-confirm}}

{{#popover-confirm confirm="cancelFileTransfer" isShowing=view.hasDeclinedFileTransfer filename=filename label=view.label confirm-button-label="Ok"}}
  <strong>"{{view.label}}"</strong> has declined your request.
{{/popover-confirm}}

{{#popover-confirm confirm="cancelFileTransfer" isShowing=view.hasError partialName=view.errorTemplateName confirm-button-label="Ok"}}
  {{partial view.partialName}}
{{/popover-confirm}}

<!-- Recipient related popups -->
{{#popover-confirm confirm="acceptFileTransfer" cancel="rejectFileTransfer" isShowing=view.hasReceivedFileInfo filename=filename label=view.label confirm-button-label="Save" cancel-button-label="Decline"}}
  <strong>"{{view.label}}"</strong> wants to send you <strong>"{{filename}}"</strong>.
{{/popover-confirm}}

<div class="avatar">
  {{view "progress-bar"}}
  {{view "peer-avatar"}}
</div>

<div class="user-info">
  {{#if model.email}}<div class="user-email">{{model.email}}</div>{{/if}}
  <div class="user-ip">
    <div {{bind-attr class=":user-connection-status model.peer.state"}}></div>
    {{#if controller.hasCustomRoomName}}
      <strong>{{model.public_ip}}</strong>
    {{/if}}
    {{#if model.local_ip}}
      {{model.local_ip}}
    {{/if}}
  </div>
</div>

{{view "file-field" action="uploadFile" file=transfer.file}}
