<div class="avatar">
  <img class="gravatar" {{bind-attr src="model.avatarUrl" alt="model.label" title="model.uuid"}}>
</div>
<div class="user-info">
  <div class="user-label">You</div>
  <div class="user-ip">
    {{#if controller.hasCustomRoomName}}
      <strong>{{model.public_ip}}</strong>
    {{/if}}

    {{#if model.local_ip}}
      {{#if view.hasManyLocalIps}}
        {{view Ember.Select content=view.localIps value=model.local_ip}}
      {{else}}
        {{model.local_ip}}
      {{/if}}
    {{/if}}
  </div>
</div>
